
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Name</title>
</head>
<body>
    <div>The controller is:  @ViewBag.Controller</div>
    <div>The action method is:  @ViewBag.Action</div>
    <div>The id is:  @ViewBag.Id</div>
    <div>
        @*<a class="myCssClass" href="/" id="myAnchorTagId">This is an outgoing url</a>*@
        @*@Html.ActionLink("This is an outgoing url", "Index", null, new { id = "myAnchorTagId", @class = "myCssClass" })*@
    </div>
    <div>
        @*htt://myserver.mydomain.com:44349/Home/Index/MyId#myFragmentName*@
        @*@Html.ActionLink("This is an outgoing url", "Index", "Home", "https", "myserver.mydomain.com", "myFragmentName", new { id = "MyId" }, new { id = "myAnchorTagId", @class = "myCssClass" })*@

        @*string actionName, string controllerName, object route values*@
        My url is: 
        @Url.Action("Index", "Home", new { id = "Url"} )
    </div>
</body>
</html>
