
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Action Name</title>
</head>
<body>
    <div>The controller is:  @ViewBag.Controller</div>
    <div>The action method is:  @ViewBag.Action</div>
    <div>The id is:  @ViewBag.Id</div>
    <div>
        @Html.ActionLink("This is an outgoing url", "CustomVariable")
    </div>
</body>
</html>

